/* 文字：菜单选项类，角色台词类，属性分数类。图标：设置，开始游戏，角色。声音：背景音乐，音效。 */
YESroot { 
    display: block;
}
body{

    /*background-color: #ff8500;
    background-repeat: repeat-x;
    background-position: top;*/
    background-color: transparent;
    margin: 0;
    border: 0;
    padding: 0;
    overflow:hidden;
-webkit-user-drag: none;
-webkit-user-select: none;
    /*text-align:center;*/
   /* background-image: url(../sprites/bg_tile.jpg);   */
}

/*button{

}*/
div{
    margin: 0;
    border: 0;
    padding: 0;
    -webkit-touch-callout: none; /* iOS Safari */
    
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    
    -khtml-user-select: none; /* Konqueror */
    
    -moz-user-select: none; /* Firefox */
    
    -ms-user-select: none; /* Internet Explorer/Edge */
    
    user-select: none; /* Non-prefixed version, currently
    
    not supported by any browser */
    
}
/*sxjzpdiv,文字上下居中*/
.sxjzpdiv{
    position: absolute; 
    left: 0; 
    top:50%; 
    width: 100%; 
    height: auto;
    transform: translateY(-50%);
}
/*设置不可点击/点击无效*/
.notclick{
    pointer-events: none;
    }	
.noselect {

    -webkit-touch-callout: none; /* iOS Safari */
    
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    
    -khtml-user-select: none; /* Konqueror */
    
    -moz-user-select: none; /* Firefox */
    
    -ms-user-select: none; /* Internet Explorer/Edge */
    
    user-select: none; /* Non-prefixed version, currently
    
    not supported by any browser */
    
    }
#zhujm{
    position:relative;
    background-size: 100% 100%;
}

img {
    display:block;
    width: auto;
    height: auto;
    z-index: auto;
	-webkit-user-drag: none;
}
video {
    display: block;
    object-fit: fill;
    margin: 0;
    border: 0;
    padding: 0;

}
/*右上角设置按钮的（初始）样式*/
#shezhi{ 
    text-align:center;
    color:red; 
}
/*分数的（初始）样式*/
#fenshu{ 
    text-align:center;
    color:red; 
}
/*角色（造型）的（初始）样式*/
.juese{
    text-align:center;
}
/*角色台词的（初始）样式:标题，靠左p，靠右p*/
.tcbt{
    text-align:center;  
}
.zanbao{
    text-align:left;
    margin: 0.04rem;
    color:#000; 
    font-size:0.2rem;  
}
.tcpr{
    text-align:right;  
}

/*可按类模块鼠标变形*/
.kean:hover{
    cursor:pointer;
}  
/*描边*/
.miaobian{
    text-shadow: #000 0.05em 0 0, #000 0 0.05em 0, #000 -0.05em 0 0, #000 0 -0.05em 0,#000 0.05em 0.05em 0, #000 -0.05em 0.05em 0, #000 -0.05em -0.05em 0, #000 0.05em -0.05em 0;
}
/*宝石放在箭头等物的上方*/
.baoshi{
    z-index: 9;
}
/*链接标签a设置*/
.url{
    /*animation-delay:2s;
    -webkit-animation-delay:2s; *//* Safari 和 Chrome */
    display: block;
    min-width:100%;
    min-height:100%;
}
/*按键小div*/
/*
div.btndiv{
    display: block;
    position:absolute;
    background-color: azure;
}*/
